
@{
    ViewBag.Title = "rolesPermisos";
    Layout = "~/Views/Shared/_LayoutSesion.cshtml";
    var id = 1;
}

@{
    if (ViewBag.error !=null)
    {
        <script>
                 alert("@ViewBag.error");
        </script>
    }

}

 

<div class="box container">
    <div class="box-header with-border">
        <h3 class="box-title">Gestionar roles</h3>
    </div>

    <a class="btn btn-primary" href="~/Sesion/agregarRol">Agregar</a>
    <!-- /.box-header -->
    <div class="">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Operacion</th>
            </tr>
            <tr>
                @foreach (var it in ViewBag.rol)
                {
                <tr>
                    <td>@id</td>
                    <td>@it.nombre</td>
                    <td>
                        <div class="row">
                            <a class="col-sm btn btn-danger " href="~/Sesion/eliminarRol/@it.id">Eliminar</a>
                            <a class="col-sm btn btn-primary " href="~/Sesion/editarRol/@it.id">Editar</a>
                            <a class="col-sm btn btn-primary " href="~/Sesion/listarPermisos/@it.id">Privilegios</a>
                        </div>
                    </td>
                </tr>

                id++;

            }


            </table>
        </div>

  </div>


