@model Semillero_ProgramacioFinal.Models.ViewModels.PlataformaViewModel
 
@{
    ViewBag.Title = "QuienesSomos";
}


<div class="container">
    <div class="row">
        <div class="service">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h2 class="text-uppercase">¿Quiénes somos?</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu<br> vestibulum volutpat libero
                        sollicitudin vitae Curabitur ac aliquam <br>
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                    <h1 class="text-uppercase">
                        Fundadores
                    </h1>
                    <div class="icon">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <p class="text-justify h4">El semillero de Investigación fue creado por la ingeniera Diana María Espinosa, en conjunto con estudiantes del programa de Ingeniería de Sistemas. El objetivo es el entrenamiento en estrategias de programación, con el propósito de aumentar el nivel en Algoritmia de los equipos que representan a la Universidad de la Amazonia en las Maratones Regionales, Nacionales y Mundiales de Programación.</p>

                </div>
            </div>

            <div class="col-md-6">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
                    <h1 class="text-uppercase">
                        misión
                    </h1>
                    <div class="icon">
                        <i class="fa fa-desktop fa-3x"></i>
                    </div>
                    <p class="h4 text-justify">El Semillero de Programación de la Universidad de la Amazonia tiene como misión promover la participación de estudiantes en eventos de programación competitiva del orden nacional e internacional, propiciando espacios académicos donde por medio del aprendizaje colaborativo se desarrollen habilidades investigativas y se fortalezcan los conocimientos en estrategias de programación, todo basado en la lectura y comprensión del inglés como idioma utilizado mundialmente en estos procesos.</p>

                </div>
            </div>

            <div class="col-md-6">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
                    <h1 class="text-uppercase">
                        visión
                    </h1>
                    <div class="icon">
                        <i class="fa fa-location-arrow fa-3x"></i>
                    </div>
                    <p class="h4 text-justify">El Semillero de Programación proyecta para el 2020 representar a la Universidad de la Amazonia en competencias de programación ACM-ICPC a nivel nacional, regional y mundial, obteniendo resultados que destaquen la labor que de manera comprometida y articulada se genera desde la institución.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--                        Aqui footer       -->



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="portfolios">
                <div class="text-center">
                    <h2 class="text-uppercase">ACTIVIDADES</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis beatae maiores cupiditate. Nihil inventore labore, earum omnis porro quos magni dolore, laboriosam exercitationem architecto quam sequi in accusamus minus. ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="~/img/Fondo/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg" width="230" height="230" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 1" />
                </a>

                <a href="~/img/Fondo/logosp.png" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 2" />
                </a>

                <a href="~/img/Fondo/logosp.png" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 3" />
                </a>

                <a href="~/img/Fondo/logosp.png" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 4" />
                </a>
            </div>
        </div>
    </div>
</div>
