@model Semillero_ProgramacioFinal.Models.ViewModels.PlataformaViewModel

@{
    ViewBag.Title = "Trayectoria";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blogs">
                <div class="text-center">
                    <h2 class="text-uppercase">TRAYECTORIA</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu<br> vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam <br>
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<!--                        Aqui footer       -->



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="portfolios">
                <div class="text-center">
                    <h2 class="text-uppercase">ACTIVIDADES</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis beatae maiores cupiditate. Nihil inventore labore, earum omnis porro quos magni dolore, laboriosam exercitationem architecto quam sequi in accusamus minus. ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="~/img/Fondo/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg" width="230" height="230" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 1" />
                </a>

                <a href="~/img/Fondo/logosp.png" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 2" />
                </a>

                <a href="~/img/Fondo/logosp.png" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 3" />
                </a>

                <a href="~/img/Fondo/logosp.png" class="flipLightBox">
                    <img src="~/img/Fondo/logosp.png" width="230" height="230" alt="Image 4" />
                </a>
            </div>
        </div>
    </div>
</div>
